{% extends 'primary/primary_template.html' %}
{% block content %}
    <h1>Customer - {{ object.first_name }} {{ object.last_name }}</h1>
    <div class="text-muted">Added by {{ object.author.username }} at {{ object.date_added}}</div>
    <div class="list-group mt-5">
        <a href="{% url 'primary-customer-update' object.id %}" class="list-group-item list-group-item-action mx-auto
        list-group-item-info font-weight-bold text-center" style="width: 200px;">Edit Customer Information</a>
        <a href="{% url 'primary-customer-delete' object.id %}" class="list-group-item list-group-item-action mx-auto
        list-group-item-danger font-weight-bold text-center" style="width: 200px;">Remove Customer</a>
    </div>
    <table class="table table-striped mt-5 mb-5">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ object.first_name }}  {{ object.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">Phone Number</th>
                <td>{{ object.phone_number|slice:":3" }}-{{ object.phone_number|slice:"3:6" }}-{{ object.phone_number|slice:"6:10" }}</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td><p>{{ object.street_address }}</p>
                <p>{{ object.city }}, {{ object.state }} {{ object.zip_code }}</p></td>
            </tr>
            <tr>
                <th scope="row">Lifetime Customer Value</th>
                {% if object.lifetime_value == 0 %}
                    <td class="text-muted">$0.00</td>
                {% else %}
                    <td>${{ object.lifetime_value }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% if object.jobs.all %}
        {% if object.jobs.all|length == 1 %}
            <h1 class="mb-5 mt-5">{{ object.jobs.all|length }} Job on File</h1>
        {% else %}
            <h1 class="mb-5 mt-5">{{ object.jobs.all|length }} Jobs on File</h1>
        {% endif %}
        <table class="table table-striped mt-5 mb-5">
            <thead>
                <tr>
                    <th scope="col">Date Added</th>
                    <th scope="col">Job Total</th>
                    <th scope="col">Is Complete?</th>
                    <th scope="col">Date Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for job in object.jobs.all %}
                    <tr>
                        <th scope="row"><a href="{% url 'primary-job' job.id %}">{{ job.date_added }}</a></th>
                        <td>${{ job.cost_of_job }}</td>
                        {% if job.is_complete %}
                            <td>Yes</td>
                            {% if job.date_completed %}
                                <td>{{ job.date_completed }}</td>
                            {% else %}
                                <td class="text-muted">None Entered</td>
                            {% endif %}
                        {% else %}
                            <td>No</td>
                            <td class="text-muted">N/A</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info text-center mb-5 mt-5" role="alert">
            No jobs have been done for this customer yet.
        </div>
    {% endif %}
{% endblock %}