{% extends 'primary/primary_template.html' %}
{% block content %}
    <h1 class="mb-5 mt-5 text-center">Customer List</h1>
    <div class="list-group mb-5">
        <a href="{% url 'primary-customer-create' %}" class="list-group-item list-group-item-action mx-auto
        list-group-item-success font-weight-bold text-center" style="width: 200px;">Add New Customer</a>
    </div>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    {% if customers %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone #</th>
                <th scope="col">Street</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
                <th scope="col">Lifetime Value</th>
                <th scope="col">Number of Jobs Completed</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td><a href="{% url 'primary-customer' customer.id %}" class="font-weight-bold">{{ customer.first_name }}  {{ customer.last_name }}</a></td>
                    <td>{{ customer.phone_number|slice:":3" }}-{{ customer.phone_number|slice:"3:6" }}-{{ customer.phone_number|slice:"6:10" }}</td>
                    <td>{{ customer.street_address }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.zip_code }}</td>
                    {% if customer.lifetime_value == 0 %}
                        <td class="text-muted">$0.00</td>
                    {% else %}
                        <td class="font-weight-bold">${{ customer.lifetime_value }}</td>
                    {% endif %}
                    {% if customer.jobs.all|length == 0 %}
                        <td class="text-muted">{{ customer.jobs.all|length }}</td>
                    {% else %}
                        <td class="font-weight-bold">{{ customer.jobs.all|length }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            No customers (yet), use the button above to add one.
        </div>
    {% endif %}
{% endblock %}