{% extends 'primary/primary_template.html' %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form method ='POST'>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Delete Job?
                    </legend>
                    <h2>Are you sure you wish to remove {{ object.customer }}'s job created {{ object.date_added }}?</h2>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Confirm Deletion</button>
                    <a class="btn btn-outline-secondary" href="{% url 'primary-customer' object.id %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}